@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ProductList>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.PublishedContent;
@{
	Layout = "_Layout.cshtml";
}

<section class="featured-products">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                @{
	                var selection = Umbraco.Content(Guid.Parse("d933c722-95ec-4ba1-8e34-04be4d25f6b5"))
                        .ChildrenOfType("productItem")
                        .Where(x => x.IsVisible())
                        .OrderByDescending(x => x.CreateDate);
                }

                	@foreach (var item in selection)
                	{
                        <div class="col">
                            <a href="@item.Url()">
                            <div class="card">
                                <div class="img">
                                    @{
                                        var productImage = item.Value<IPublishedContent>("productImage");
                                    }
                                    <img src="@item.Url()" alt="product-image">
                                </div>
                                <div class="card-body">
                                    <p class="card-category">@item.Value("productCategory")</p>
                                    <h5 class="card-title">@item.Value("productName")</h5>
                                    <p class="card-rating">
                                        <i class="fa-sharp fa-solid fa-star"></i>
                                        <i class="fa-sharp fa-solid fa-star"></i>
                                        <i class="fa-sharp fa-solid fa-star"></i>
                                        <i class="fa-sharp fa-solid fa-star"></i>
                                        <i class="fa-sharp fa-solid fa-star"></i>
                                    </p>
                                    <p class="card-price">$@item.Value("productPrice")</p>
                                </div>
                            </div>
                            </a>
                        </div>
                	}
            </div>
        </div>
    </div>
</section>